---
import Layout from '../../layouts/Layout.astro';
import MediaContainer from '../../components/MediaContainer.astro';
import fetchApi from '../../api/strapi';
import type About from '../../interfaces/about';
import type { DescriptionBlocks } from '../../interfaces/descriptionBlocks';
import Heading from '../../components/blocks/Heading.astro';
import Paragraph from '../../components/blocks/Paragraph.astro';
import List from '../../components/blocks/List.astro';
import AboutCard from '../../components/AboutCard.astro';
import MainSlider from '../../components/MainSlider';

const about = await fetchApi<About>({
  endpoint: 'about-page?populate=*',
  wrappedByKey: 'data',
});

const image = {
    url: '/uploads/pexels_photo_6831129_f338937b17.jpeg',
    mime: 'image/jpeg'
}

const paragraph = [{
    type: 'text',
    text: 'В самом сердце Южного Прибалхашья, в Дельте реки Или расположился комплекс отдыха и рыбалки JEYRAN & FISHING LODGE - жемчужина одного из богатейших природных заповедников Семиречья.'
}]

const aboutAdv = await fetchApi<any>({
  endpoint: 'about-advantages?populate=*',
  wrappedByKey: 'data',
});
---

<Layout title="Jeyran Balkhash">
    <MediaContainer media={image} title='JEYRAN & FISHING LODGE' />
    <div class="py-50 sm:py-100">
      {about.attributes.main_description.map((block: DescriptionBlocks) => {
          switch(block.type) {
            case 'heading':
              return <Heading children={block.children} level={block.level} />
            case 'paragraph':
              return <Paragraph children={block.children} />
            case 'list':
              return <List children={block.children} />
          }
      })}
  </div>
    <MediaContainer media={image} big/>
    <div class="py-50 sm:py-100">
        <Paragraph children={paragraph} />
    </div>
    <div class="pb-50 sm:pb-100">
        {about.attributes.description.map((block: DescriptionBlocks) => {
            switch(block.type) {
              case 'heading':
                return <Heading children={block.children} level={block.level} />
              case 'paragraph':
                return <Paragraph children={block.children} />
              case 'list':
                return <List children={block.children} />
            }
        })}
    </div>
    <div class="pb-50 sm:pb-100">
        {about.attributes.description_2.map((block: DescriptionBlocks) => {
            switch(block.type) {
              case 'heading':
                return <Heading children={block.children} level={block.level} />
              case 'paragraph':
                return <Paragraph children={block.children} />
              case 'list':
                return <List children={block.children} />
            }
        })}
    </div>
    <MainSlider slides={about.attributes.slider.data} client:visible />
    <div class="container py-50 sm:py-100 mx-auto px-5 grid md:grid-cols-2 gap-x-8 gap-y-6 sm:gap-y-10">
      {aboutAdv.map((enj: any) =>
      <AboutCard img={enj.attributes.image.data.attributes.url} title={enj.attributes.title} />)}
    </div>
    <MediaContainer media={image} />
    <div class="py-50 sm:py-100">
      {about.attributes.description_3.map((block: DescriptionBlocks) => {
          switch(block.type) {
            case 'heading':
              return <Heading children={block.children} level={block.level} />
            case 'paragraph':
              return <Paragraph children={block.children} />
            case 'list':
              return <List children={block.children} />
          }
      })}
  </div>
</Layout>