---
import fetchApi from "../../api/strapi.ts";

import Layout from "../../layouts/Layout.astro";
import Paragraph from "../../components/blocks/Paragraph.astro";
import TextContainer from "../../components/TextContainer.astro";
import Map from "../../components/Map.tsx";
import Heading from "../../components/blocks/Heading.astro";
import ListItem from "../../components/blocks/ListItem.astro";

import type Contacts from "../../interfaces/contacts.ts";
import type { DescriptionBlocks } from "../../interfaces/descriptionBlocks.ts";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contacts = await fetchApi<Contacts>({
  endpoint: "contacts-page?populate=*&locale=kk",
});
---

<Layout title="Jeyran Balkhash">
  <h1
    class="text-center text-32 sm:text-64 uppercase font-medium pt-5 sm:pt-10"
  >
    {t("nav.contacts")}
  </h1>
  <p
    class="text-center text-base sm:text-28 leading-130% mt-4 sm:mt-6 font-normal"
  >
    {t("contacts.rest_zone")}
  </p>
  <p
    class="flex justify-center gap-2 text-base sm:text-28 leading-130% mt-4 sm:mt-6 font-normal"
  >
    <a href={`tel: ${contacts.attributes.book_phone}`}
      >{contacts.attributes.book_phone}</a
    >
    <span class="text-gray-second">{t("contacts.book")}</span>
  </p>
  <p
    class="flex justify-center gap-2 text-base sm:text-28 leading-130% font-normal"
  >
    <a href={`tel: ${contacts.attributes.reception_phone}`}
      >{contacts.attributes.reception_phone}</a
    >
    <span class="text-gray-second">{t("contacts.reception")}</span>
  </p>
  <p
    class="flex justify-center text-base sm:text-28 leading-130% mt-4 sm:mt-6 font-normal text-main"
  >
    <a href={`mailto: ${contacts.attributes.email}`}
      >{contacts.attributes.email}</a
    >
  </p>
  <div class="flex justify-center mt-4 sm:mt-6 gap-5">
    <a href={contacts.attributes.instagram} class="text-main">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.3334 7.9165C11.8968 7.9165 10.519 8.48719 9.50319 9.50301C8.48737 10.5188 7.91669 11.8966 7.91669 13.3332V26.6665C7.91669 28.1031 8.48737 29.4808 9.50319 30.4967C10.519 31.5125 11.8968 32.0832 13.3334 32.0832H26.6667C28.1033 32.0832 29.481 31.5125 30.4968 30.4967C31.5127 29.4808 32.0834 28.1031 32.0834 26.6665V13.3332C32.0834 11.8966 31.5127 10.5188 30.4968 9.50301C29.481 8.48719 28.1033 7.9165 26.6667 7.9165H13.3334ZM7.73542 7.73524C9.22009 6.25058 11.2337 5.4165 13.3334 5.4165H26.6667C28.7663 5.4165 30.78 6.25058 32.2646 7.73524C33.7493 9.2199 34.5834 11.2335 34.5834 13.3332V26.6665C34.5834 28.7661 33.7493 30.7798 32.2646 32.2644C30.78 33.7491 28.7663 34.5832 26.6667 34.5832H13.3334C11.2337 34.5832 9.22009 33.7491 7.73542 32.2644C6.25076 30.7798 5.41669 28.7661 5.41669 26.6665V13.3332C5.41669 11.2335 6.25076 9.2199 7.73542 7.73524ZM27.5 11.2498C28.1904 11.2498 28.75 11.8095 28.75 12.4998V12.5165C28.75 13.2069 28.1904 13.7665 27.5 13.7665C26.8097 13.7665 26.25 13.2069 26.25 12.5165V12.4998C26.25 11.8095 26.8097 11.2498 27.5 11.2498ZM15.5806 15.5804C16.7527 14.4083 18.3424 13.7498 20 13.7498C21.6576 13.7498 23.2473 14.4083 24.4194 15.5804C25.5915 16.7525 26.25 18.3422 26.25 19.9998C26.25 21.6574 25.5915 23.2472 24.4194 24.4193C23.2473 25.5914 21.6576 26.2498 20 26.2498C18.3424 26.2498 16.7527 25.5914 15.5806 24.4193C14.4085 23.2472 13.75 21.6574 13.75 19.9998C13.75 18.3422 14.4085 16.7525 15.5806 15.5804ZM20 16.2498C19.0055 16.2498 18.0516 16.6449 17.3484 17.3482C16.6451 18.0514 16.25 19.0053 16.25 19.9998C16.25 20.9944 16.6451 21.9482 17.3484 22.6515C18.0516 23.3547 19.0055 23.7498 20 23.7498C20.9946 23.7498 21.9484 23.3547 22.6517 22.6515C23.3549 21.9482 23.75 20.9944 23.75 19.9998C23.75 19.0053 23.3549 18.0514 22.6517 17.3482C21.9484 16.6449 20.9946 16.2498 20 16.2498Z"
          fill="currentColor"></path>
      </svg>
    </a>
    <a href={contacts.attributes.twitter} class="text-main">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.55165 6.10148C5.76458 5.6813 6.19562 5.4165 6.66666 5.4165H13.7783C14.1765 5.4165 14.5509 5.60621 14.7863 5.92731L22.1979 16.0342L32.4494 5.78262C32.9376 5.29447 33.7291 5.29447 34.2172 5.78262C34.7054 6.27078 34.7054 7.06223 34.2172 7.55039L23.6936 18.074L34.3413 32.594C34.6199 32.9738 34.6613 33.478 34.4483 33.8982C34.2354 34.3184 33.8044 34.5832 33.3333 34.5832H26.2217C25.8235 34.5832 25.4491 34.3935 25.2136 34.0724L17.8021 23.9655L7.55055 34.2171C7.06239 34.7052 6.27093 34.7052 5.78278 34.2171C5.29462 33.7289 5.29462 32.9374 5.78278 32.4493L16.3064 21.9257L5.65865 7.40569C5.38009 7.02584 5.33873 6.52165 5.55165 6.10148ZM20.9658 18.5817C21.0091 18.6561 21.0608 18.7269 21.1207 18.7929L30.8666 32.0832H26.8551L9.13338 7.9165H13.1449L20.9658 18.5817Z"
          fill="currentColor"></path>
      </svg>
    </a>
    <a href={contacts.attributes.telegram} class="text-main">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M35.8265 5.72878C36.1771 6.03774 36.326 6.5164 36.2127 6.9697L29.546 33.6364C29.4368 34.0733 29.101 34.4176 28.667 34.5378C28.233 34.658 27.7679 34.5355 27.4495 34.2171L20.1353 26.9029L16 32.4165C15.721 32.7885 15.2587 32.9749 14.7998 32.9004C14.3409 32.8259 13.9612 32.5029 13.8142 32.0618L10.6446 22.553L4.44099 19.4512C3.99877 19.2301 3.72843 18.7691 3.75135 18.2752C3.77427 17.7814 4.08615 17.3474 4.54695 17.1682L34.5469 5.50152C34.9824 5.33217 35.476 5.41983 35.8265 5.72878ZM20.8991 24.1312C20.8899 24.1217 20.8805 24.1122 20.8708 24.1029L20.1011 23.3332L25.8839 17.5504C26.372 17.0623 26.372 16.2708 25.8839 15.7826C25.3957 15.2945 24.6043 15.2945 24.1161 15.7826L17.4495 22.4493C16.9613 22.9375 16.9613 23.7289 17.4495 24.2171L18.3495 25.1172L15.4314 29.008L12.8525 21.2712C12.7477 20.9567 12.5222 20.6968 12.2257 20.5485L8.08109 18.4762L33.2014 8.70719L27.6561 30.8882L20.8991 24.1312Z"
          fill="currentColor"></path>
      </svg>
    </a>
    <a href={contacts.attributes.whatsapp} class="text-main">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M28.9358 9.56686C26.3879 7.39368 23.1346 6.22501 19.7862 6.28019C16.4379 6.33536 13.2248 7.61058 10.7499 9.86653C8.27505 12.1225 6.70853 15.2041 6.34434 18.533C5.98015 21.8619 6.84334 25.2093 8.77191 27.947C9.02298 28.3034 9.07022 28.7648 8.89659 29.1647L7.07462 33.3608L13.1974 32.2696C13.4587 32.223 13.728 32.2608 13.9664 32.3775C16.974 33.8501 20.4156 34.1745 23.6454 33.2898C26.8752 32.4051 29.6711 30.3721 31.5085 27.5723C33.3458 24.7726 34.0982 21.3986 33.6245 18.0834C33.1509 14.7683 31.4837 11.74 28.9358 9.56686ZM19.7451 3.78053C23.7022 3.71532 27.5471 5.09647 30.5582 7.66477C33.5693 10.2331 35.5396 13.812 36.0994 17.7298C36.6592 21.6477 35.77 25.6352 33.5986 28.944C31.4272 32.2527 28.1229 34.6554 24.3059 35.701C20.6227 36.7099 16.7064 36.3883 13.2427 34.8009L5.21933 36.2308C4.76593 36.3116 4.30482 36.1366 4.01927 35.7752C3.73373 35.4139 3.67001 34.9248 3.85344 34.5023L6.33112 28.7962C4.33159 25.6762 3.45461 21.959 3.85917 18.2611C4.28957 14.3269 6.14092 10.685 9.06578 8.01893C11.9906 5.35281 15.7879 3.84573 19.7451 3.78053ZM14.3602 13.5271C14.7509 13.1364 15.2808 12.9169 15.8333 12.9169C16.3859 12.9169 16.9158 13.1364 17.3065 13.5271C17.6972 13.9178 17.9167 14.4477 17.9167 15.0002V16.6669C17.9167 17.2194 17.6972 17.7493 17.3065 18.1401C17.0847 18.3619 16.818 18.5285 16.5278 18.6311C16.8569 19.7714 17.4704 20.8213 18.3247 21.6756C19.1789 22.5298 20.2289 23.1433 21.3692 23.4725C21.4718 23.1823 21.6384 22.9156 21.8602 22.6938C22.2509 22.3031 22.7808 22.0836 23.3333 22.0836H25C25.5525 22.0836 26.0824 22.3031 26.4732 22.6938C26.8639 23.0845 27.0833 23.6144 27.0833 24.1669C27.0833 24.7194 26.8639 25.2493 26.4732 25.64C26.0824 26.0308 25.5525 26.2502 25 26.2502H23.3333C20.7917 26.2502 18.3541 25.2406 16.5569 23.4433C14.7597 21.6461 13.75 19.2086 13.75 16.6669V15.0002C13.75 14.4477 13.9695 13.9178 14.3602 13.5271Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>

  <TextContainer
    title={contacts.attributes.how_to_get_there.title}
    p={contacts.attributes.how_to_get_there.subtitle}
    coords={contacts.attributes.coordinates}
  />
  <Map client:only="react" />
  <div class="pb-60 sm:pb-100">
    {
      contacts.attributes.how_to_get_there_article.map(
        (block: DescriptionBlocks) => {
          switch (block.type) {
            case "heading":
              return <Heading children={block.children} level={block.level} />;
            case "paragraph":
              return <Paragraph children={block.children} />;
            case "list":
              return <ListItem children={block.children} />;
          }
        },
      )
    }
  </div>
</Layout>
